# Data Setup Script

This script is meant to create the initial "data sources" for the DS 2002 midterm. Because this project requires data to be pulled from different sources that don't yet exist, this script generates json files that can be served either from the filesystem or api endpoints, as well as be uploaded to mongodb

### Libraires
We first have to import the required libraries to manipulate the data

**Note:** If libraries are not yet installed run `pip install -r requirements.txt` from the parent directory

In [5]:
import os
import json
import numpy
import datetime
import pandas as pd

import pymongo
from sqlalchemy import create_engine

### Set up connection details

In [3]:
mysql_uid = "root"
mysql_pwd = "Passw0rd123"

atlas_cluster_name = "cluster0.q0atcnd"
atlas_user_name = "gab8un"
atlas_password = "XwlxqfpWD8PxodaA"

mongo_connections = {
    "local": f"mongodb://localhost:27017/",
    "atlas": f"mongodb+srv://{atlas_user_name}:{atlas_password}@{atlas_cluster_name}.mongodb.net"
}

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (4200135168.py, line 2)

### Create functions to interact with SQL and Mongodb

In [8]:
def get_sql_dataframe(user_id, pwd, db_name, sql_query):
    '''Create a connection to the MySQL database'''
    conn_str = f"mysql+pymysql://{user_id}:{pwd}@localhost/{db_name}"
    sqlEngine = create_engine(conn_str, pool_recycle=3600)
    
    '''Invoke the pd.read_sql() function to query the database, and fill a Pandas DataFrame.'''
    conn = sqlEngine.connect()
    dframe = pd.read_sql(sql_query, conn);
    conn.close()
    
    return dframe


def get_mongo_dataframe(connect_str, db_name, collection, query):
    '''Create a connection to MongoDB'''
    client = pymongo.MongoClient(connect_str)
    
    '''Query MongoDB, and fill a python list with documents to create a DataFrame'''
    db = client[db_name]
    dframe = pd.DataFrame(list(db[collection].find(query)))
    dframe.drop(['_id'], axis=1, inplace=True)
    client.close()
    return dframe


def set_dataframe(user_id, pwd, db_name, df, table_name, pk_column, db_operation):
    '''Create a connection to the MySQL database'''
    conn_str = f"mysql+pymysql://{user_id}:{pwd}@localhost/{db_name}"
    sqlEngine = create_engine(conn_str, pool_recycle=3600)
    connection = sqlEngine.connect()
    
    '''Invoke the Pandas DataFrame .to_sql( ) function to either create, or append to, a table'''
    if db_operation == "insert":
        df.to_sql(table_name, con=connection, index=False, if_exists='replace')
        connection.execute(f"ALTER TABLE {table_name} ADD PRIMARY KEY ({pk_column});")
            
    elif db_operation == "update":
        df.to_sql(table_name, con=connection, index=False, if_exists='append')
    
    connection.close()

### Load Data into database
The database files are stored in the notebooks directory, and are loaded to populate the database

In [11]:
sakila_schema = open(
    os.path.join(os.getcwd, 'sakila-db/sakila-schema.sql')
)
sakila_data = open(
    os.path.join(os.getcwd, 'sakila-db/sakila-data.sql')
)

sakila_schema_sql = sakila_schema.read()
sakila_data_sql = sakila_data.read()
print(sakila_schema_sql)

FileNotFoundError: [Errno 2] No such file or directory: './sakila-db/sakila-schem.sql'